/*COLOR-VARIABLES*/
$base-black: #000000;
$base-white: #ffffff;

/*FONT-VARIABLES*/
$poppins: 'Poppins', sans-serif;

body {
    background-color: $base-black;
    color: $base-white;
    font-family: $poppins;
    margin: 0 60px;
    letter-spacing: 0.25em;
}


@import 'navbar/_navbar.scss';
@import 'mainpage/_header.scss';
@import 'mainpage/_mainpage.scss';
@import 'mainpage/_footer.scss';